* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-color: #212437;
  --secondary-color: #00ff00;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  padding: 0px 30px;
  height: 70px;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar p {
  color: white;
  font-size: 20px;
  margin-left: 80px;
  transform: scale(1.5);
}

.navbar p:hover {
  box-shadow: white 0px 0px 20px -12px;
}
.navbar p b {
  color: var(--secondary-color);
}
.navbar p a {
  text-decoration: none;
  color: white;
}

.navbar nav ul {
  display: flex;
}
.navbar nav ul li {
  padding: 20px;
  list-style-type: none;
}
.navbar nav ul li a {
  border-radius: 4px;
  padding: 10px 15px;
  color: white;
  font-size: 15px;
  text-decoration: none;
}
.navbar nav ul li a:hover {
  background: var(--secondary-color);
  border-radius: 3px;
  color: black;
  box-shadow: white 0px 0px 15px -4px;
}

section {
  padding: 100px 150px;
}
.hero {
  height: 90vh;
  padding-top: 200px;
}

section h1 {
  font-size: 50px;
  color: white;

  margin-bottom: 20px;
}

section p {
  font-size: 15px;
  color: rgb(176, 175, 175);
  margin-bottom: 35px;
}

section button {
  padding: 15px 30px;
  background: var(--secondary-color);
  border: none;
  color: black;
  border-radius: 3px;
  font-size: 15px;
  z-index: 3;
}
section  button a{
  text-decoration: none;
  color: black;
}
section button:hover {
  background-color: #57e40acc;
}

.skills {
  height: 100vh;
}
.skills h1 {
  color: var(--secondary-color);
  margin-bottom: 50px;
}
.skills h1 span {
  text-decoration: underline;
}
.card {
  width: 200px;
  height: 200px;
  border-radius: 3px;
  background: #2b2e41;
  position: relative;
  border: 1px solid;
  rotate: 5deg;
  border-image: linear-gradient(to right, rgb(8, 239, 66), rgb(143, 236, 145)) 1;
}

.grid-skills {
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}

.card i {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: var(--secondary-color);
  font-size: 40px;
}
.card p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 20px;
  color: white;
}

.card:hover {
  box-shadow: rgba(255, 255, 255, 1) 0px 0px 50px -12px;
  rotate: 360deg;
  transform: scale(1.2);
  border: none;
  background: linear-gradient(
    120deg,
    rgba(0, 255, 0, 0.362),
    rgba(0, 255, 255, 0.438)
  );
}
.connect {
  height: 100vh;

  padding-top: 200px;
}

.connect h1 {
  color: var(--secondary-color);
}


.connect input {
  padding: 20px 10px;
  margin: 10px;
  margin-bottom: 30px;
  font-size: 20px;
  padding-right: 250px;
  background: #282a41;
  border: none;
  border-radius: 3px;
  outline: none;
  color: white;
}

.connect button {
  color: black;
  background: linear-gradient(120deg, cyan, lime);
  border: none;
 margin-top: 30px;
  padding: 20px 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.connect button a {
  text-decoration: none;
  color: black;
}
.connect button:hover {
  transform: scale(1.1);
}

.connect button i {
  font-size: 20px;
}
.connect input::placeholder {
  font-weight: bolder;
}

.about {
  height: 100vh;

  position: relative;
}
.about h1 {
  padding-top: 50px;
  padding-left: 10px;
  font-size: 50px;
  color: var(--secondary-color);
}

.about-set {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
}
.about img {
  height: 250px;
  width: 250px;

  border-top: 6px solid var(--secondary-color);
  border-left: 6px solid var(--secondary-color);
}

.about img:hover {
  box-shadow: rgb(0, 0, 0) 0px 0px 50px -12px;
  transform: scale(1.1);
}
.about p {
  color: white;
  line-height: 30px;

  margin-left: 90px;

  padding-bottom: 20px;
  font-size: 20px;
  margin-top: 20px;
}

.about p span b,
.hero h1 span {
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(lime, cyan) 0 0 / cover no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero h1 span {
  font-size: 50px;
}

.icons {
  margin-top: 40px;
  position: absolute;
  top: 90%;
  left: 30%;
}

.icons i {
  margin: 20px;
  background: linear-gradient(lime, cyan);
  border-radius: 50%;
  padding: 10px;
  font-size: 30px;
  color: black;
}

.icons i:hover {
  box-shadow: white 0px 0px 20px -12px;
  transform: scale(1.5);
}

body {
  margin: 0;
  padding: 0;
}
.bg-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url("video.mp4") no-repeat center center/cover;
}
video {
  min-width: 100%;
  min-height: 100vh;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
